{% extends 'base.html' %}

{% block title %}Listado de Cursos{% endblock %}

{% block header %}Listado de Cursos{% endblock %}

{% block content %}
<div class="list-container">
    <h2>Listado de materias</h2>
    <ul>
        {% for curso in cursos_materia %}
        <li>
            <strong>Materia:</strong> {{ curso.materia }}<br>
            <strong>Código:</strong> {{ curso.codigo_curso }}<br>
            <strong>Plan de Estudio:</strong> {{ curso.plan_estudio }}<br>
            <strong>Requisitos Previos:</strong> {{ curso.requisitos_previos }}<br>
            <strong>Instrumentos:</strong> {{ curso.instrumentos }}<br>
            <form method="post" action="{% url 'seleccionar-materia' %}">
                {% csrf_token %}
                <input type="hidden" name="curso_id" value="{{ curso.id_materia }}">
                <button type="submit">Seleccionar Materia</button>
            </form>
        </li>
        {% empty %}
        <li>No hay cursos disponibles.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
